<header class="botw-header">
  <h1 class="title">Create a new movie</h1>
</header>

<div class="columns">
  <div class="column">
    
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" name="title" [(ngModel)]="movie.title" />
        </div>
      </div>
      <div class="field">
        <label class="label">Synopsis</label>
        <div class="control">
          <textarea class="textarea" name="synopsis" [(ngModel)]="movie.synopsis"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Episode</label>
        <div class="control">
          <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="episode">
                    <option value="1">Episode 1</option>
                    <option value="2">Episode 2</option>
                  </select>
                </div>
              </div>
              <div class="control">
                <button type="button" class="button" (click)="openDialog()">
                  <span class="icon is-small">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </span>
                  <span>
                    Add episode
                  </span>
                </button>
              </div>
            </div>
        </div>
      </div>
      <app-modal title="Add new episode" [showDialog]="showDialog" (modalClosed)="closeDialog()">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input type="text" class="input" name="title" />
          </div>
        </div>
        <div class="field">
          <label class="label">Video Id</label>
          <div class="control">
            <input type="text" class="input" name="videoid" />
          </div>
        </div>
        <div class="control">
          <button type="button" class="button is-primary">
            Add episode
          </button>
        </div>
      </app-modal>

      <div class="field">
        <label class="label">Tags</label>
        <table class="table">
          <tbody>
            <tr *ngFor="let tag of movie.tags, let index = index, trackBy: trackByIndex">
              <td>
                <button type="button" class="button is-danger" (click)="removeTag(index)">
                  <span class="icon is-small">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </span>
                </button>
              </td>
              <td>
                <input type="text" class="input" name="tag[]" [(ngModel)]="movie.tags[index]" />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="button is-small" (click)="addTag()">
          <span class="icon is-small">
            <fa-icon [icon]="faPlus"></fa-icon>
          </span>
          <span>Add tag</span>
        </button>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit" (click)="save()">Create movie</button>
        </div>
      </div>
    
  </div>
  <div class="column is-4">
    <div class="box">
      <app-movie-image-input name="image" [(ngModel)]="movie.image"></app-movie-image-input>
    </div>
  </div>
</div>