<div class="control">
  <div class="tag-input" (click)="focusInput(tagInput)">
    <ul *ngIf="tags.length > 0" class="tag-input-selected-tags">
      <li *ngFor="let tag of tags, let index = index">
        <div class="tags has-addons">
          <span class="tag">{{ tag }}</span>
          <a class="tag is-delete" (click)="removeTag(index, $event)"></a>
        </div>
      </li>
    </ul>
    <input #tagInput [(ngModel)]="newTag" type="text"
      (keydown)="keyDown($event)"
      (keyup)="autocomplete(tagInput.value)" 
      (keyup.enter)="keyEnter(tagInput.value)" />
    <div class="tag-input-autocomplete-dropdown" *ngIf="tagSuggestions.length > 0 && showDropdown">
      <ul class="tag-input-autocomplete-list">
        <li class="tag-input-autocomplete-item" *ngFor="let suggestion of tagSuggestions, let index = index">
          <a [class.is-active]="selectedIndex == index" (click)="addTag(suggestion)">{{ suggestion }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>