$purple: #9932CC;
$purple-invert: findColorInvert($purple);

$primary: $purple;
$primary-invert: $purple-invert;

$black-ter: #27282e;
$body-background-color: $black-ter;

$text: $white-ter;

$radius-small: 1px;
$radius: 2px;
$radius-large: 3px;