$purple: #9932CC;
$purple-invert: findColorInvert($purple);

$primary: $purple;
$primary-invert: $purple-invert;

$grey-lighter: #ccc;
$body-background-color: $grey-lighter;

$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;