<div class="field">
  <label class="label">Episode</label>
  <div class="control">
    <div class="field has-addons">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select name="episode" [(ngModel)]="episodeId">
              <option value="0">Choose an episode...</option>
              <option *ngFor="let episode of episodes" [value]="episode.id">{{ episode.title }}</option>
            </select>
          </div>
        </div>
        <div class="control">
          <button type="button" class="button" (click)="openDialog()">
            <span class="icon is-small">
              <fa-icon [icon]="faPlus"></fa-icon>
            </span>
            <span>
              Add episode
            </span>
          </button>
        </div>
      </div>
  </div>
</div>
<app-modal title="Add new episode" [showDialog]="showDialog" (modalClosed)="closeDialog()">
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input type="text" class="input" name="title" [(ngModel)]="episodeForm.title" />
    </div>
  </div>
  <div class="field">
    <label class="label">Video Id</label>
    <div class="control">
      <input type="text" class="input" name="videoid" [(ngModel)]="episodeForm.videoId" />
    </div>
  </div>
  <div class="field">
    <label class="label">Release date</label>
    <div class="control">
      <input type="text" class="input" name="releasedate" [(ngModel)]="episodeForm.releaseDate" />
    </div>
  </div>
  <div class="control">
    <button type="button" class="button is-primary" (click)="addEpisode()">
      Add episode
    </button>
  </div>
</app-modal>