
<div class="columns">
  <div class="column is-9">
    <div class="columns is-multiline">
      <div class="column is-3" *ngFor="let movie of movieList?.items">
        <a routerLink="/movie/{{movie.id}}" class="movie-item">
          <div class="movie-item-picture">
            <img class="movie-item-img" *ngIf="movie.image" [src]="getImageUrlForWidth(movie, 250)" alt="{{movie.title}}" />
          </div>
          <div class="movie-item-content">
            {{ movie.title }}
          </div>
        </a>
      </div>
    </div>
    <app-pagination [page]="movieList?.paging.pageIndex" [totalPages]="movieList?.paging.totalPages" (pageChanged)="listMovies($event)"></app-pagination>
  </div>
  <div class="column movie-filters">
    <section class="movie-filter-section">
      <header class="movie-filter-header">Search</header>
      <div class="control has-icons-left is-loading">
        <input type="search" class="input" placeholder="Search" />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
    </section>
    <section class="movie-filter-section">
      <header class="movie-filter-header">Episodes</header>
    </section>
    <section class="movie-filter-section">
      <header class="movie-filter-header">Tags</header>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input type="text" class="input" />
        </div>
        <div class="control">
          <button type="button" class="button is-primary">Add</button>
        </div>
      </div>
    </section>
  </div>
</div>