<div class="columns is-multiline">
  <div class="column is-2" *ngFor="let movie of movieList?.items">
    <a routerLink="/movie/{{movie.id}}" class="movie-item">
      <div class="movie-item-picture">
        <img class="movie-item-img" *ngIf="movie.image" [src]="getImageUrlForWidth(movie, 250)" alt="{{movie.title}}" />
      </div>
      <div class="movie-item-content">
        {{ movie.title }}
      </div>
    </a>
  </div>
</div>

<app-pagination [page]="movieList?.paging.pageIndex" [totalPages]="movieList?.paging.totalPages" (pageChanged)="listMovies($event)"></app-pagination>