
<div class="columns">
  <div class="column is-9">
    <div class="columns is-multiline">
      <div class="column is-3" *ngFor="let movie of movieList?.items">
        <a routerLink="/movie/{{movie.id}}" class="movie-item">
          <div class="movie-item-picture">
            <img class="movie-item-img" *ngIf="movie.image" [src]="getImageUrlForWidth(movie, 250)" alt="{{movie.title}}" />
          </div>
          <div class="movie-item-content">
            {{ movie.title }}
          </div>
        </a>
      </div>
    </div>
    <app-pagination [page]="movieList?.paging.pageIndex" [totalPages]="movieList?.paging.totalPages" (pageChanged)="listMovies($event)"></app-pagination>
  </div>
  <div class="column movie-filters">
    <section class="movie-filter-section">
      <header class="movie-filter-header">Search</header>
      <div class="control has-icons-left movie-filter-search" [ngClass]="{ 'is-loading': isSearching }">
        <input #searchInput type="input" class="input" placeholder="Search" 
          (keyup)="searchMovies(searchInput.value)"
          (focus)="onSearchFocus()"
          (blur)="onSearchBlur()" />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
        <div class="movie-filter-search-hint" *ngIf="isSearchFocused" [@searchHint]>
          <i class="movie-filter-search-hint-pointer"></i>
          <div class="movie-filter-search-hint-content" [@showHintText]>
            Search movie by title or description
          </div>
        </div>
      </div>
    </section>
    <section class="movie-filter-section">
      <header class="movie-filter-header">Episodes</header>
      <div class="episode-filter-list" *ngIf="episodeFilter.length">
        <div class="episode-filter-item" *ngFor="let episode of episodeFilter, let i = index">
          <div class="episode-filter-name">{{ episode.title }}</div>
          <div class="episode-filter-addon">
            <a href="#" (click)="removeEpisodeFilter(i)">
              <fa-icon [icon]="faTimes"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select [(ngModel)]="selectedEpisode">
              <option [ngValue]="null">Select episode to add</option>
              <option *ngFor="let episode of episodes" [ngValue]="episode">{{ episode.title }}</option>
            </select>
          </div>
        </div>
        <div class="control">
          <button type="button" class="button is-primary" (click)="addEpisodeToFilter()">Add</button>
        </div>
      </div>
    </section>
    <section class="movie-filter-section">
      <header class="movie-filter-header">Tags</header>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input type="text" class="input" />
        </div>
        <div class="control">
          <button type="button" class="button is-primary">Add</button>
        </div>
      </div>
    </section>
  </div>
</div>