<div *ngIf="movie$ | async as movie">
  <header class="movie-header">
    <div class="container">
      <div class="columns">
        <div class="column is-narrow">
          <div class="movie-image">
            <img [src]="getImageUrlForWidth(movie, 500)" alt="{{movie?.title}}" />
          </div>
        </div>
        <div class="column">
          <div class="movie-title">
            <h2>{{ movie?.title }}</h2>
            <span class="release-date">({{ movie?.getReleaseYear() }})</span>
          </div>
          <div class="movie-actions">
            <div class="epsiode-rating" [title]="getRankTitle(movie)">
              <div class="outer-circle">
                <div class="inner-circle">
                  <fa-icon [icon]="getRankIcon(movie)" size="lg" fixed="true"></fa-icon>
                </div>
              </div>
              <span class="rating-label">Episode rank</span>
            </div>
            <a href="#" title="Buy on Amazon (affiliate)">
              <fa-icon [icon]="faAmazon"></fa-icon>
            </a>
            <a href="#" title="Add movie to your favourite list">
              <fa-icon [icon]="faHeart"></fa-icon>
            </a>
            <a href="#" title="Rate this movie">
              <fa-icon [icon]="faStar"></fa-icon>
            </a>
            <a *ngIf="showEditMovie" routerLink="/movie/edit/{{movie?.id}}" title="Edit movie">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
          </div>
          <div class="movie-info">
            <h3>Overview</h3>
            <div class="movie-overview">{{ movie?.overview }}</div>
            <div class="meta-info">
              <dl>
                <dt>Genre</dt>
                <dd>{{ movie?.getGenreNames() }}</dd>
              </dl>
              <dl>
                <dt>Runtime</dt>
                <dd>{{ movie?.runtime }} min.</dd>
              </dl>
              <dl>
                <dt>BOTW Episode</dt>
                <dd>{{ movie?.episode?.title }}</dd>
              </dl>
              <dl>
                <dt>Tags</dt>
                <dd>
                  <a href="#" class="movie-detail-link" *ngFor="let tag of movie?.tags">{{ tag.name }}</a>
                </dd>
              </dl>
              <dl>
                <dt>Links</dt>
                <dd>
                  <a class="movie-detail-link" *ngFor="let link of movie?.links" [href]="link.href" target="_blank">{{ link.name }}</a>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="section movie-episode">
    <div class="container">
      <div class="video" *ngIf="movie">
        <iframe class="video-frame" [src]="getVideoUrl(movie.episode.videoId)" width="100%" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>
</div>