@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

@import 'bulma-overrides/initial-variables';

@import "../../node_modules/bulma/sass/utilities/derived-variables";

@import 'bulma-overrides/derived-variables';

$imageRatio: 150.27%;

@import '../../node_modules/bulma/bulma';
@import "navbar";
@import "movie-list";
@import "movie-detail";
@import "modal";
@import "form";

.table {
    td.is-narrow {
        width: 1%;
        white-space: nowrap;
    }
}

.botw-main {
    padding: 0 3rem;
    overflow: hidden;
    position: relative;
}

.botw-header {
    margin-bottom: 3rem;
}

.divider {
    height: 1px;
    background-color: rgba(#000, .25);
    margin: 1.5rem 0;
}