@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

@import 'bulma-overrides/initial-variables';

@import "../../node_modules/bulma/sass/utilities/derived-variables";

@import 'bulma-overrides/derived-variables';

$imageRatio: 150.27%;

@import '../../node_modules/bulma/bulma';
@import "navbar";
@import "movie-list";
@import "movie-detail";
@import "modal";
@import "form";

.section-title {
    display: flex;
    
    &.with-border {
        color: $white-ter;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.5em;
        // font-weight: 400;
        text-align: left;
        text-transform: uppercase;
    }
}

.episode-group-item {
    position: relative;

    &:hover {
        .episode-group-item__scroller-previous,
        .episode-group-item__scroller-next {
            opacity: 1;
        }
    }
}

.episode-group-item__scroller-previous,
.episode-group-item__scroller-next {
    display: flex;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3em;
    align-items: center;
    justify-content: center;
    width: 1.75em;
    height: 6em;
    background-color: $box-background-color;
    box-shadow: 5px 2px 5px rgba(#000, .5);
    color: $text;
    opacity: .5;
    transition: opacity 0.25s ease-in-out;

    &:hover {
        color: $text;
        background-color: #333;
    }
}

.episode-group-item__scroller-next {
    left: auto;
    right: 0;
    box-shadow: -5px 2px 5px rgba(#000, .5);
}

.episode-group-item__movies {
    overflow: hidden;

    .columns {
        transition: transform 0.25s ease-in-out;
    }
}

.table {
    td.is-narrow {
        width: 1%;
        white-space: nowrap;
    }
}

.botw-main {
    overflow: hidden;
    position: relative;
}

.botw-header {
    margin-bottom: 3rem;
}

.divider {
    height: 1px;
    background-color: rgba(#000, .25);
    margin: 1.5rem 0;
}

.movie-suggestions {
    position: relative;
    background-color: $box-background-color;
    color: #212121;
    box-shadow: $box-shadow;
    margin-top: 0.75rem;

    .movie-suggestion-item {
        display: flex;
        color: #212121;
        border-top: 1px solid #cfcfcf;
        box-shadow: none;

        .movie-poster {
            position: relative;
            width: 185px;
            height: 278px;
            flex-grow: 0;
            flex-shrink: 0;

            img {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        .movie-info {
            padding: 0.75rem;
        }

        .movie-title {
            font-size: 1.25em;
            font-weight: 600;
        }

        .movie-release {
            color: #595959;
            font-size: 0.8em;
        }

        .movie-overview {
            padding-top: 1.25rem;
            font-size: 0.8em;
            color: #595959;
        }

        .movie-actions {
            margin-top: 1.25rem;
        }
    }
}