.movie-header {
    background: radial-gradient(circle at 20% 50%, rgba($primary, .4), $primary);    
    color: #fff;
    padding: 3rem 0;
}

.movie-title {
    padding-top: 0.75rem;

    h2 {
        display: inline-block;
        font-size: 2.4em;
        line-height: 1.1em;
        font-weight: 300;
        margin-bottom: 0!important;
    }

    .release-date {
        opacity: 0.6;
        font-size: 1.7em;
        font-weight: 400;
        padding-left: 0.5em;
    }
}

.movie-episode {
    color: #1a1a1a;
    font-size: .95rem;
    margin: 0.75em 0;
    line-height: 1.5em;
    font-weight: normal;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    box-shadow: 0 0 5px rgba(#000, .3);

    .video-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.movie-image {
    box-shadow: 0 0 5px rgba(#000, .3);
    width: 300px;

    img {
        display: block;
    }
}

.movie-detail-header {
    font-weight: 600;
    text-transform: uppercase;
    color: #262626;
    line-height: 1.5;
    font-size: 0.875em;
    padding: 1.25em 0;

    &.movie-detail-header--right {
        margin-top: 1.5rem;
    }
}

.description {
    margin-top: 2.5rem;
    color: #212121;

    .content {
        font-size: 0.9rem;
    }
}

.related-movies {
    position: relative;
    background-color: $box-background-color;
    color: #212121;
    box-shadow: $box-shadow;

    .movie-item {
        display: block;
        color: #212121;
        padding: 0.75rem;
        border-top: 1px solid #cfcfcf;
        font-size: 0.85rem;
        box-shadow: none;

        &:hover {
            background-color: #e5e5e5;
        }
    }
}

.movie-detail-links {
    position: relative;
    background-color: $box-background-color;
    box-shadow: $box-shadow;

    .movie-detail-link {
        display: block;
        color: #212121;
        padding: 0.75rem;
        border-top: 1px solid #cfcfcf;
        font-size: 0.85rem;

        .icon {
            font-size: 1rem;
            margin-right: 0.5rem;
        }

        &:hover {
            background-color: #e5e5e5;
        }
    }
}

.tags {
    .movie-detail-tag {
        box-shadow: $box-shadow;
    }
}