.navbar {
    &.is-dark {
        background-color: rgba(#161618, .95);
        color: $grey-lighter;
    }

    &.has-shadow {
        box-shadow: 0 2px rgba(#000, .5);
        // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
}

.navbar-item {
    &.is-active {
        color: #fff;
    }
}

.botw-navbar-item {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.065em;
    position: relative;
    font-weight: 600;

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $primary;
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
        transition-property: width;
    }

    &:hover:after,
    &.is-active:after {
        width: 100%;
    }
}

.botw-user-navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2.25em;
    font-size: 0.8em;
    text-transform: uppercase;

    &:after {
        border-width: 2px;
        width: 0.525em;
        height: 0.525em;
        margin-top: -0.25em;
    }

    img {
        max-height: 2.25rem;
        border-radius: 50%;
    }
}

.botw-user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 0.35rem;
}

.button {
    &.is-login {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
    }

    &.is-google {
        background-color: #db4437;
        border-color: #db4437;
        color: whitesmoke;
    }

    &.is-github {
        background-color: #fff;
        border-color: #fff;
        color: #24292e;
    }

    &.is-twitter {
        background-color: #1da1f2;
        border-color: #1da1f2;
        color: whitesmoke;
    }

    &.is-microsoft {
        background-color: #0078D7;
        border-color: #0078D7;
        color: whitesmoke;
    }
}