<nav class="navbar is-fixed-top has-shadow is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">
        <img src="/images/botw_logo.png" alt="Best of the Worst" height="28">
      </a>

      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a routerLink="/" class="navbar-item botw-navbar-item" [class.is-active]="currentUrl == '/'">Movies</a>
      </div>
      <div class="navbar-end" *ngIf="isLoggedIn">
        <div class="navbar-item has-dropdown" *ngIf="userProfile" [class.is-active]="showUserDropdown">
          <a class="navbar-link botw-user-navbar" (click)="toggleUserDropdown()">
            <app-gravatar [hash]="userProfile?.picture" size="21" [altText]="userProfile?.name" class="botw-user-avatar"></app-gravatar>
            {{ userProfile?.name }}
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <div class="navbar-item">
          <div class="field is-grouped is-grouped-multiline">
            <p class="control">
              <a routerLink="/create" class="button is-success">Add movie</a>
            </p>
          </div>
        </div>
      </div>
      <div class="navbar-end" *ngIf="!isLoggedIn">
        <a class="navbar-item" (click)="showLoginDialog('Login')">
          Login
        </a>
        <div class="navbar-item">
          <div class="field is-grouped-multiline">
            <p class="control">
              <a class="button is-primary" (click)="showLoginDialog('Sign up')">Sign up</a>
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</nav>
<app-modal [title]="loginDialogTitle" [showDialog]="isLoginDialogVisible" (modalClosed)="closeLoginDialog()">
  <div class="has-text-centered">
    Use on of the following providers to log in
  </div>
  <div class="divider"></div>
  <div class="columns is-multiline">
    <div class="column" *ngFor="let loginProvider of loginProviders">
      <button type="button" class="button is-login is-medium is-fullwidth" [ngClass]="loginProviderClass(loginProvider)" (click)="redirect(loginProvider)">
        <span class="icon">
          <fa-icon [icon]="loginProviderIcons[loginProvider]"></fa-icon>
        </span>
        <span>{{loginProvider}}</span>
      </button>
    </div>
  </div>
  <div class="divider"></div>
  <div class="has-text-centered">
    By logging in, you agree to the <a href="#">Terms of Use</a>
  </div>
</app-modal>