<form [formGroup]="form" (ngSubmit)="save(form.value)" (keydown.enter)="$event.preventDefault()">
  <header class="botw-header">
    <h1 class="title">{{title}}</h1>
  </header>

  <div class="columns">
    <div class="column">
      
        <div class="field">
          <label class="label">Title</label>
          <div class="control has-icons-right">
            <input #nameInput class="input" type="text" formControlName="title" 
              [class.is-danger]="!titleInput.valid && (titleInput.dirty || titleInput.touched)"
              (keyup)="nameOnKeyUp(nameInput.value)" />
            <span class="icon is-small is-right" *ngIf="!titleInput.valid && (titleInput.dirty || titleInput.touched)">
              <fa-icon [icon]="faTimes"></fa-icon>
            </span>
            <span class="icon is-small is-right" *ngIf="titleInput.valid && (titleInput.dirty || titleInput.touched)">
              <fa-icon [icon]="faCheck"></fa-icon>
            </span>
          </div>
          <div class="input-error" *ngIf="titleInput.errors?.required && (titleInput.dirty || titleInput.touched)">
            A title is required
          </div>

          <div class="movie-suggestions">
            <div class="movie-suggestion-item" *ngFor="let movie of movieSuggestions">
              <div class="movie-poster">
                  <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" />
              </div>
              <div class="movie-info">
                <div class="movie-title">{{ movie.title }}</div>
                <div class="movie-release">{{ movie.release_date }}</div>
                <div class="movie-overview">{{ movie.overview | truncatetext:215 }}</div>
                <div class="movie-actions">
                  <button type="button" class="button is-primary" (click)="copyMovieInfo(movie.id)">Get info</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="columns">
            <div class="column">
              <label class="label">Release date</label>
              <div class="control">
                <input type="date" class="input" formControlName="releaseDate" />
              </div>
            </div>
            <div class="column">
              <label class="label">Runtime</label>
              <div class="control">
                <input type="number" class="input" formControlName="runtime" />
              </div>
            </div>
            <div class="column">
              <label class="label">Placement</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select formControlName="placement">
                    <option value="0">Runner up</option>
                    <option value="1">Best of the Worst</option>
                    <option value="2">Destroyed</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Overview</label>
          <div class="control">
            <textarea class="textarea" name="overview" formControlName="overview" 
              [class.is-danger]="!getControl('overview').valid && (getControl('overview').dirty || getControl('overview').touched)"></textarea>
          </div>
          <div class="input-error" *ngIf="getControl('overview').errors?.required && (getControl('overview').dirty || getControl('overview').touched)">
            A overview is required
          </div>
        </div>

        <div class="field">
          <label class="label">Synopsis</label>
          <div class="control">
            <textarea class="textarea" name="synopsis" formControlName="synopsis" 
              [class.is-danger]="!synopsisInput.valid && (synopsisInput.dirty || synopsisInput.touched)"></textarea>
          </div>
          <div class="input-error" *ngIf="synopsisInput.errors?.required && (synopsisInput.dirty || synopsisInput.touched)">
            A synopsis is required
          </div>
          <div class="input-error" *ngIf="synopsisInput.errors?.minlength && (synopsisInput.dirty || synopsisInput.touched)">
            Synopsis must be at least 50 characters long
          </div>
        </div>

        <app-episode-select formControlName="episode"></app-episode-select>
        
        <div class="field">
          <label class="label">Tags</label>
          <app-tag-input formControlName="tags"></app-tag-input>
        </div>

        <div class="field" formArrayName="links">
          <label class="label">Links</label>
          <table class="table is-fullwidth">
            <tbody>
              <tr *ngFor="let link of links.controls; let i = index" [formGroupName]="i">
                <td class="is-narrow">
                  <button type="button" class="button is-danger" (click)="removeLink(i)">
                    <span class="icon is-small">
                      <fa-icon [icon]="faTimes"></fa-icon>
                    </span>
                  </button>
                </td>
                <td style="width: 33%">
                  <div class="select is-fullwidth">
                    <select formControlName="linkType">
                      <option *ngFor="let linkTypeKey of linkTypeKeys" [value]="linkTypeKey" [label]="linkTypes[linkTypeKey]"></option>
                    </select>
                  </div>
                </td>
                <td style="width: 33%">
                  <input type="text" class="input" placeholder="Name" formControlName="name" />
                </td>
                <td style="width: 33%">
                  <input type="text" class="input" placeholder="Url" formControlName="href" />
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="button is-small" (click)="addLink()">
            <span class="icon is-small">
              <fa-icon [icon]="faPlus"></fa-icon>
            </span>
            <span>
              Add link
            </span>
          </button>
        </div>

        <div class="field" formArrayName="genres">
          <label class="label">Genres</label>
          <table class="table is-fullwidth">
            <tbody>
              <tr *ngFor="let genre of genres.controls; let i = index">
                <td class="is-narrow">
                  <button type="button" class="button is-danger" (click)="removeGenre(i)">
                    <span class="icon is-small">
                      <fa-icon [icon]="faTimes"></fa-icon>
                    </span>
                  </button>
                </td>
                <td>
                  <input type="text" class="input" placeholder="Genre name" [formControlName]="i" />
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="button is-small" (click)="addGenre()">
            <span class="icon is-small">
              <fa-icon [icon]="faPlus"></fa-icon>
            </span>
            <span>
              Add genre
            </span>
          </button>
        </div>
        
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit" [disabled]="!form.valid">Create movie</button>
          </div>
        </div>
      
    </div>
    <div class="column is-4">
      <div class="box">
        <app-movie-image-input name="image" formControlName="image" [preview-url]="imagePreview"></app-movie-image-input>
      </div>
    </div>
  </div>
</form>