
<section class="section">
  <div class="container">
    <div *ngIf="episodeGroups$ | async; let episodeGroups">
      <div class="columns is-multiline">
        <div class="column"
             *ngFor="let group of episodeGroups; let groupIndex = index"
             [ngClass]="{ 'is-full': groupIndex === 0, 'is-half': groupIndex > 0 }">
            <div class="epside-group-item">
              <h4 class="title is-4">{{ group.episode.title }}</h4>
              <div class="columns">
                <div class="column" *ngFor="let movie of group.movies">
                  <app-movie-item [movie]="movie"></app-movie-item>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
