<section class="section">
    <div class="container">
        <div *ngIf="episodeGroups$ | async; let episodeGroups">
            <div class="columns is-multiline">
                <div class="column" *ngFor="let group of episodeGroups; let groupIndex = index" [ngClass]="{ 'is-full': groupIndex === 0, 'is-half': groupIndex > 0 }">
                    <div class="episode-group-item" [class.episode-group-item__latest]="groupIndex === 0">
                        <div class="section-title with-border">{{group.episode.title}}</div>
                        <div class="episode-group-item__movies">
                            <div class="columns">
                                <div class="column" [class.is-one-third]="groupIndex > 0" *ngFor="let movie of group.movies">
                                    <app-movie-item [movie]="movie"></app-movie-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>